*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 80%;
    background-color: rgb(189, 189, 65);
    padding: 34px;
    margin: auto;
}

.container h3,p{
    text-align: center;
}

input,textarea{

    width: 50%;
    margin: 11px;
    padding: 7px;
    border: 2px solid;
    border-radius: 6px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    color: whitesmoke;
    background: black;
    padding: 10px;
    border-radius: 6px;
    margin: 6px;
    cursor: pointer;
}